* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
span,
a {
  display: inline-block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 35px;
}
.nav__link {
  color: black;
  text-decoration: none;
  padding-bottom: 3px;
}
.nav__link:hover {
  border-bottom: 2px solid grey;
}
.un_list {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.padding {
  padding: 25px 250px;
}
.section1 {
  background-image: url(watch\ background.jpg);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: right -250px bottom;
  border-bottom: 2px solid grey;
}
.main {
  width: 35%;
  padding: 150px 0;
}
h2 {
  font-size: 40px;
}
.main__text {
  margin: 45px 0;
  border-left: 2px solid grey;
  padding-left: 15px;
}
.btn {
  padding: 15px 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #ea625c;
}
.section2 {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 30%;
}
.box > h3 {
  margin-bottom: 40px;
}
.square {
  width: 6px;
  height: 6px;
  margin-top: 10px;
  background-color: grey;
  box-shadow:
    15px 0 grey,
    30px 0 grey;
}
.more {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 5px 0;
  color: #ea625c;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.more:hover .line {
  width: 40px;
}
.line {
  transition: 0.25s width linear;
  width: 25px;
  height: 3px;
  background-color: #ea625c;
  margin-right: 10px;
}
.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watch {
  width: 35%;
}
.section4 {
  background-image: url(runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  color: white;
}
.left {
  margin-left: 50%;
}
.hamburger {
  display: none;
}
.jahongir{
    height: 4px;
    background-color: grey;
    margin: 7px;
    border-radius: 5px;
}

@media (max-width: 425px) {
  /* Section 1 */

  .padding {
    padding: 25px;
  }
  .hamburger {
    font-size: 25px;
    display: block;
  }
  .un_list {
    display: none;
  }
  .main {
    width: 100%;
    padding: 150px 0;
  }
  .section1 {
    background-size: 300px;
    background-position: bottom right -120px;
  }



  /* Section 2 */

  .section2 {
    flex-direction: column;
    gap: 30px;
  }
  .box{
    width: 100%;
  }
  .box > h3 {
    margin-bottom: 10px;
  }
  .watch {
    display: none;
  }
  .section3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url(watch.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  .left{
    margin: 0;
    padding: 20px;
  }
}
